header{
  text-align: center;
  font-size: 24px;
}
center{
  text-align: center;
}
anker {
  position: relative;
}
menu {
  position: absolute;
  top: 0px;
  left: 0px;
}
/*メニュー部分*/
details summary{
  /*padding:1% 2%;*/
  background:rgb(123, 123, 255);
  color:white;
  transition:  0.5s; 
}
/*折りたたむ部分*/
details p{
  margin: 2% 4%;
}
details{
  width:120%;
}
.left_text_centerplace {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}
.box {
border: #4e7bcc 1px solid; /*境界線の指定*/
padding:10px;
}
.box p {
margin:0;
padding:0;
}

/*表の適切なサイズ設定*/
table {
  width: 75%; /* 表全体の幅を75%に設定 */
  table-layout: auto; /* 自動レイアウトモードを使用 */
}
th, td {
  border: 1px solid black; /* 枠線を追加（任意） */
  padding: 8px; /* セルの余白を設定（任意） */
}

